{{ define "admin_header" }}
    <div uk-sticky="media:960" class="uk-navbar-container tm-navbar-container uk-active uk-sticky-below uk-sticky-fixed"
         style="position: fixed; top: 0px; width: 1022px"
    >
        <nav class="uk-navbar uk-background-primary">
            <div class="uk-navbar-left">
                <a href="/" class="uk-navbar-item uk-logo uk-text-muted" ><div id="text">お手軽 Cyber Range Manager</div></a>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav uk-visible@m">
                    <li class="uk-active uk-button uk-button-text" id="header-button">
{{/*                        <div class="uk-button uk-button-text">*/}}
                            <a href="/admin/account" id="text">account</a>
{{/*                        </div>*/}}
                    </li>
                    <li class="uk-active uk-button uk-button-text" id="header-button">
{{/*                        <div class="uk-button uk-button-text">*/}}
                            <a href="/admin/logout" id="text">logout</a>
{{/*                        </div>*/}}
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <style>
        #text {
            color: white;
        }
        #header-button {
            width: 100%;
            padding: 5px;
        }
    </style>
{{ end }}