{{ define "settings" }}
{{/*    <div class="uk-container uk-container-small">*/}}
        <div class="uk-card uk-card-default ">
            <div class="uk-card-header">
                <h4 class="uk-card-title uk-margin-remove-bottom">Settings</h4>
            </div>
            <div class="uk-card-body">
                    <dl class="uk-description-list uk-description-list-divider">
                        <dt>server address</dt>
                        <dd>{{ .Settings.Address }}</dd>
                        <dt>host name</dt>
                        <dd>{{ .Settings.HostName }}</dd>
                        <dt>password</dt>
                        <dd>xxxxxxxxxxxx</dd>
                        <dt>local address</dt>
                        <dd>{{ .Settings.LocalAddress }}</dd>
                        <dt>hub</dt>
                        <dd>{{ .Settings.Hub }}</dd>
                    </dl>
                </div>
            <div class="uk-card-footer">
                <a href="#" class="uk-button uk-button-text">Change Settings</a>
            </div>
        </div>
{{/*        </div>*/}}
{{ end }}