{{ define "header" }}
    <div uk-sticky="media:960" class="uk-navbar-container tm-navbar-container uk-active uk-sticky-below uk-sticky-fixed"
        style="position: fixed; top: 0px; width: 1022px"
    >
        <nav class="uk-navbar uk-background-primary">
            <div class="uk-navbar-left">
                <a href="/" class="uk-navbar-item uk-logo uk-text-muted" id="title"><div id="title">お手軽 Cyber Range Manager</div></a>
            </div>

        </nav>
    </div>
    <style>
        #title {
            color: white;
        }
    </style>
{{ end }}